---
import Section from '@/components/Section.astro'
import Heading1 from '@/components/Heading1.astro'
import LinkButton from '@/components/LinkButton.astro'
---

<Section background="primary">
  <Heading1 inverted>体験入部のご案内</Heading1>
  <div class="w-full px-8 text-white text-justify">
    OUCCの普段の活動は、チャットアプリ「Discord」上で行われています。公開サーバーと部内サーバーの2つのチャットスペースがあり、公開サーバーはいつでも誰でも入退室可能です。
    まずは公開サーバーに参加し、部内の雰囲気を感じてみませんか？
  </div>
  <div class="flex justify-center">
    <LinkButton href="/join" variant="white">Join OUCC!</LinkButton>
  </div>
</Section>
