---
import Section from '../common/Section.astro'
import CircleList from './CircleList.astro'
---

<Section background="white">
  <Fragment slot="title">参加団体</Fragment>
  <p class="text-justify-ja pb-2">
    OU Techsに参加している団体について紹介します。
  </p>
  <CircleList />
</Section>
