---
import Icon from '@/components/common/Icon.astro'
import LinkButton from './LinkButton.astro'
---

<LinkButton
  href="https://discord.gg/jBM2NP7ZxK"
  target="_blank"
  variant="discord"
>
  <span class="flex items-center gap-2.5">
    <Icon name="discord" alt="Discord" class="w-7" />
    <span>公開サーバーに参加</span>
  </span>
</LinkButton>
