---
import type { HTMLAttributes } from 'astro/types'

type Props = Omit<HTMLAttributes<'a'>, 'slot'> & {
  variant?: 'primary' | 'white' | 'black' | 'discord' | 'peing'
}

const { variant = 'primary', ...attrs } = Astro.props
---

<a
  class:list={[
    'rounded-full px-5 py-2.5 font-bold',
    {
      'bg-primary text-white drop-shadow-primary-light hover:drop-shadow-primary-heavy':
        variant === 'primary',
      'bg-white text-primary drop-shadow-white-light hover:drop-shadow-white-heavy':
        variant === 'white',
      'bg-black text-white drop-shadow-black-light hover:drop-shadow-black-heavy':
        variant === 'black',
      'bg-discord text-white drop-shadow-discord-light hover:drop-shadow-discord-heavy':
        variant === 'discord',
      'bg-peing text-white drop-shadow-peing-light hover:drop-shadow-peing-heavy':
        variant === 'peing',
    },
    'active:drop-shadow-none',
    'transition-[filter,transform] ease-in-out active:translate-y-1',
    attrs.class,
  ]}
  {...attrs}
>
  <slot />
</a>
