---
import Icon from '@/components/common/Icon.astro'
import LinkButton from './LinkButton.astro'
---

<LinkButton href="https://peing.net/ja/oucc" target="_blank" variant="peing">
  <span class="flex items-center gap-2.5">
    <Icon name="box" alt="Peing" class="w-6" />
    <span>旧質問箱</span>
  </span>
</LinkButton>
