---
import Icon from '@/components/common/Icon.astro'
import LinkButton from './LinkButton.astro'
---

<LinkButton href="https://twitter.com/OUCC" target="_blank" variant="twitter">
  <span class="flex items-center gap-2.5">
    <Icon name="twitter" alt="Twitter" class="w-7" />
    <span>@OUCC</span>
  </span>
</LinkButton>
