---
import type { CollectionEntry } from 'astro:content'
import Section from '../../common/Section.astro'
import InlineLink from '@/components/common/InlineLink.astro'

interface Props {
  tag: CollectionEntry<'tags'>['data']
}

const {
  tag: { name, description, links },
} = Astro.props
---

<Section background="white">
  <Fragment slot="title">{name} について</Fragment>

  <div class="block">
    {description && <div>{description}</div>}
    {
      links.length === 0 ? (
        ''
      ) : (
        <div class="px-2 py-3">
          <h2 class="text-xl">外部リンク</h2>
          <ul class="list-inside list-disc pl-2">
            {links.map(({ url, text }) => (
              <li>
                <InlineLink href={url} class="no-underline hover:underline">
                  {text}
                </InlineLink>
              </li>
            ))}
          </ul>
        </div>
      )
    }
  </div>
</Section>
