---
import type { CollectionEntry } from 'astro:content'
import TagIcon from '../icon/TagIcon.astro'
type Props = CollectionEntry<'tags'>['data'] & {
  id: CollectionEntry<'tags'>['id']
  articleCount: number
}

const { id, articleCount, ...tag } = Astro.props
---

<li
  class="block sm:basis-[calc((100%-0.75rem)/2)] bg-white rounded-xl border space-y-1 group"
>
  <a class="w-full h-full p-4 flex items-center" href={`/blog/tags/${id}`}>
    <TagIcon tag={tag} size={40} />
    <div class="px-2">
      <h2 class="text-xl font-bold line-clamp-1 group-hover:underline">
        {tag.name}
      </h2>
      <p class="text-sm text-gray-600">記事数 : {articleCount}</p>
    </div>
  </a>
</li>
