---
import type { CollectionEntry } from 'astro:content'
import Section from '@/components/common/Section.astro'
import TagList from './TagList.astro'

interface Props {
  title: string
  tags: (CollectionEntry<'tags'> & { articleCount: number })[]
}

const { title, tags } = Astro.props
---

<Section background="secondary">
  <Fragment slot="title">{title}</Fragment>
  <TagList tags={tags} />
</Section>
