---
import type { CollectionEntry } from 'astro:content'
import TagIcon from '../icon/TagIcon.astro'
interface Props {
  tags: CollectionEntry<'tags'>[]
}

const { tags } = Astro.props
---

<ul class="flex flex-wrap gap-2">
  {
    tags.map((tag) => (
      <li>
        <a
          href={`/blog/tags/${tag.id}`}
          class="flex items-center gap-1 bg-gray-100 hover:bg-gray-200 text-sm text-justify p-1 rounded-full"
        >
          <TagIcon tag={tag.data} size={18} />
          <p>{tag.data.name}</p>
        </a>
      </li>
    ))
  }
</ul>
