---
import Section from '@/components/Section.astro'
import Image from '@/components/Image.astro'
import discordImage from '@/assets/discord.webp'
import meetingImage from '@/assets/online_kaigi_woman.webp'
---

<Section background="white">
  <Fragment slot="title">普段の活動</Fragment>
  <div class="flex flex-col items-center gap-8">
    <div class="max-w-[32rem] flex flex-col gap-2.5">
      <Image
        class="w-full"
        src={discordImage}
        alt="普段のDiscordでの会話"
        sizes="100%"
      />
      <div class="text-justify-ja">
        OUCCの普段の活動は主にチャットアプリ「Discord」上で行われており、履修や試験、外部のイベントに関する情報などをやりとりしています。
      </div>
    </div>
    <div class="max-w-[32rem] flex flex-col gap-2.5">
      <Image class="w-full" src={meetingImage} alt="部会の様子" sizes="100%" />
      <div class="text-justify-ja">
        毎月部会を開催し、部の運営に関わることを話し合っています。部会は原則として参加必須ですが、事情がある場合は欠席し後日議事録を確認することもできます。
      </div>
    </div>
  </div>
</Section>
