---
import Section from '@/components/Section.astro'
import ActivityCard from '@/features/activity/components/ActivityCard.astro'
import { events } from '@/features/activity/events'
---

<Section background="secondary">
  <Fragment slot="title">イベント</Fragment>
  <ul class="flex flex-col items-center gap-8">
    {
      events.map(({ title, image, description }) => (
        <li class="max-w-[32rem]">
          <ActivityCard title={title} image={image}>
            {description}
          </ActivityCard>
        </li>
      ))
    }
  </ul>
</Section>
