---
import Icon from '@/components/Icon.astro'
import LinkButton from './LinkButton.astro'
---

<LinkButton
  href="https://discord.gg/jBM2NP7ZxK"
  target="_blank"
  variant="discord"
>
  <span class="flex items-center gap-2.5">
    <span class="w-7">
      <Icon name="discord" alt="Discord" />
    </span>
    <span>公開サーバーに参加</span>
  </span>
</LinkButton>
