---
import type { HTMLAttributes } from 'astro/types'

type Props = Omit<HTMLAttributes<'a'>, 'slot'> & {
  variant?: 'primary' | 'white' | 'twitter' | 'discord'
}

const { variant = 'primary', ...attrs } = Astro.props
---

<a
  class:list={[
    'px-5 py-2.5 rounded-full font-bold',
    {
      'bg-primary text-white drop-shadow-primary-light hover:drop-shadow-primary-heavy':
        variant === 'primary',
      'bg-white text-primary drop-shadow-white-light hover:drop-shadow-white-heavy':
        variant === 'white',
      'bg-twitter text-white drop-shadow-twitter-light hover:drop-shadow-twitter-heavy':
        variant === 'twitter',
      'bg-discord text-white drop-shadow-discord-light hover:drop-shadow-discord-heavy':
        variant === 'discord',
    },
    'active:drop-shadow-none',
    'active:translate-y-1 transition-[filter,transform] ease-in-out',
    attrs.class,
  ]}
  {...attrs}
>
  <slot />
</a>
