---
import TwitterLogo from '@/components/icon/TwitterLogo.astro'
import LinkButton from './LinkButton.astro'
---

<LinkButton href="https://twitter.com/OUCC" target="_blank" variant="twitter">
  <span class="flex items-center gap-2.5">
    <span class="w-7">
      <TwitterLogo />
    </span>
    <span>@OUCC</span>
  </span>
</LinkButton>
