---
import Section from '@/components/Section.astro'
import InlineLink from '@/components/InlineLink.astro'
import FaqCard from './FaqCard.astro'
---

<Section background="white">
  <div class="flex justify-center">
    <ul class="flex flex-wrap gap-5">
      <FaqCard title="入部するにはどうしたら良いですか？">
        <p>
          まずは公開Discordサーバーにご参加いただき、「このサーバーについて」の投稿をご確認の上で部長にご連絡ください。
        </p>
        <p>詳しくは画面右上から「Join OUCC!」をクリックしてください。</p>
      </FaqCard>
      <FaqCard title="初心者でも参加できますか？">
        <p>
          はい、もちろんです。例年プログラミング未経験者も入部しており、活動を通してプログラミングを学んでいますので問題ありません。失敗を恐れず積極的に活動に参加する気持ちが大事です。
        </p>
        <p>
          また、お絵かきや3Dモデリングなどプログラミング以外の活動をすることもできます。
        </p>
      </FaqCard>
      <FaqCard title="活動の頻度はどの程度ですか？">
        <p>
          普段はDiscordサーバーで雑談をしているほか、月に一度週末にオンラインで集まって部会を開催しています。また、大阪大学の大学祭であるいちょう祭（5月）とまちかね祭（11月）への出展は部員全員で協力して行います。
        </p>
        <p>
          詳しくは<InlineLink href="/activity">
            活動紹介
          </InlineLink>をご覧ください。
        </p>
      </FaqCard>
      <FaqCard title="どのようなプログラミング言語を使用していますか？">
        <p>
          メンバーによって様々です。ゲーム制作ではUnity、Web制作ではHTML/CSS/JavaScript、AI開発ではPythonが使われることが多いですが、自身の好みで選ぶことができます。
        </p>
        <p>このWebサイトはAstroとTypeScriptを使って作られています。</p>
      </FaqCard>
      <FaqCard title="メンバーについて教えてください。">
        <p>
          大阪大学の学部1回生から大学院生まで幅広いメンバーが在籍しています。またOBOGとの交流も活発です。
        </p>
        <p>
          学部別部員数は、基礎工10人、工10人、理3人、法2人、文1人です。学科別では基礎工学部情報科学科のメンバーが最も多く、次が工学部電子情報工学科となっています（2023年3月現在）。
        </p>
      </FaqCard>
      <FaqCard title="イベントや大会への参加はありますか？">
        <p>
          大阪大学の大学祭であるいちょう祭（5月）とまちかね祭（11月）への出展は部員全員で協力して行います。
          また、任意でKC3（関西情報系学生団体交流会）の勉強会やハッカソンに参加したり、メンバーを集めてプログラミングコンテストに出場したりすることもできます。
        </p>
      </FaqCard>
      <FaqCard title="活動に必要な費用はありますか？">
        <p>毎年2000円の部費を納めていただきます。</p>
      </FaqCard>
      <FaqCard title="活動に必要な機材はありますか？">
        <p>
          活動ではご自身のパソコンを使っていただきます。必要な性能はやりたいことによって変わりますので、公開Discordサーバーなどでお尋ねください。
        </p>
      </FaqCard>
      <FaqCard title="活動場所はどこですか？">
        <p>
          主にオンラインで行っています。豊中キャンパスに部室がありますが、現在は機材の保管にのみ使っています。
        </p>
        <p>
          以前は学外に部室を設置していましたが、2021年に学内へ移転しています。
        </p>
      </FaqCard>
      <FaqCard title="大阪大学公認とはどういう意味ですか？">
        <p>
          正式な手続きを経て大阪大学（学生部）に認められた課外活動団体であるという意味です。公認サークルには部員名簿や予算の厳格な管理が求められており、一定の信頼の証となっています。
        </p>
      </FaqCard>
    </ul>
  </div>
</Section>
