---
import BlogContent from '@/components/blog/BlogContent.astro'
import BlogLayout from '@/layouts/BlogLayout.astro'
import { getCollection, getEntries } from 'astro:content'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blogs')
  return blogEntries.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog },
  }))
}

const { blog } = Astro.props
const tags = await getEntries(blog.data.tags)
---

<BlogLayout
  title={blog.data.title}
  description={blog.data.description}
  image={`/blog/${blog.slug}/ogp.png`}
  keywords={tags.map((t) => t.data.name).join(',')}
>
  <main class="bg-dot bg-dot-secondary">
    <BlogContent blog={blog} />
  </main>
</BlogLayout>
