---
import BlogContent from '@/components/blog/BlogContent.astro'
import RelatedBlogSection from '@/components/blog/RelatedBlogSection.astro'
import BlogLayout from '@/layouts/BlogLayout.astro'
import { getBlogStatistics } from '@/content/_blog-statistics'
import { getCollection, getEntries } from 'astro:content'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blogs')
  return blogEntries.map((blog) => ({
    params: { slug: blog.id },
    props: { blog },
  }))
}

const { blog } = Astro.props
const statistics = await getEntries([...(await getBlogStatistics(blog.id))])
---

<BlogLayout
  title={blog.data.title}
  description={blog.data.description}
  image={`/blog/articles/${blog.id}/ogp.png`}
>
  <main class="bg-dot bg-dot-secondary">
    <BlogContent blog={blog} />
    <RelatedBlogSection blogs={statistics.slice(0, 5)} />
  </main>
</BlogLayout>
