---
import Section from '@/components/Section.astro'
import InlineLink from '@/components/InlineLink.astro'
---

<Section background="white">
  <div class="flex flex-col gap-5">
    <p>
      当サイトではGoogle
      Analyticsを使用してアクセス解析を行っています。データの収集にはCookieが使用される場合があります。このデータは匿名で収集されており、個人を特定するものではありません。
    </p>
    <p>
      Google Analyticsによるデータの収集を希望されない場合は、<InlineLink
        href="https://tools.google.com/dlpage/gaoptout/"
        target="_blank"
      >
        Google アナリティクス オプトアウト アドオン
      </InlineLink>を使用してデータの使用を無効化することができます。
    </p>
  </div>
</Section>
