---
import Section from '@/components/common/Section.astro'
import OUTechsDiscordJoinLink from '@/components/common/button/OUTechsDiscordJoinLink.astro'
---

<Section background="white">
  <div class="flex flex-col gap-5">
    <p>
      新歓イベントの一環として部員や外部講師による講習会を開催しています。様々な技術について未経験者向けに解説しながら実際に使えるようになることを目指します。講習会内で必要なソフトウェアのインストールから説明しますので、事前準備は必要ありません。
    </p>
    <div class="flex justify-center">
      <OUTechsDiscordJoinLink />
    </div>
    <p>
      こちらから講習会の資料や連絡を受け取れます。
      どなたでも無料で参加できます。是非お気軽にご参加ください！
    </p>
  </div>
</Section>
