---
import Section from '@/components/common/Section.astro'
import LinkButton from '@/components/common/button/LinkButton.astro'
---

<Section background="primary">
  <Fragment slot="title">体験入部のご案内</Fragment>
  <div class="flex flex-col gap-5">
    <div class="text-justify-ja text-white">
      OUCCの普段の活動は、チャットアプリ「Discord」上で行われています。公開サーバーと部内サーバーの2つのチャットスペースがあり、公開サーバーはいつでも誰でも入退室可能です。
      まずは公開サーバーに参加し、部内の雰囲気を感じてみませんか？
    </div>
    <div class="flex justify-center">
      <LinkButton href="/join" variant="white">Join OUCC!</LinkButton>
    </div>
  </div>
</Section>
