---
import Section from '@/components/Section.astro'
import DiscordJoinLink from '@/components/button/DiscordJoinLink.astro'
import TwitterLink from '@/components/button/TwitterLink.astro'
import PeingLink from '@/components/button/PeingLink.astro'
---

<Section background="white">
  <div class="flex flex-col gap-5">
    <div>
      <p>
        活動に関するご質問、ご相談等は公開Discordサーバーで受け付けております。
      </p>
    </div>
    <div class="flex justify-center">
      <DiscordJoinLink />
    </div>
    <div>
      <p>
        また、質問箱では匿名で質問を送ることができます。回答はOUCCのTwitterアカウントから発信します。
      </p>
    </div>
    <div class="flex justify-center gap-6">
      <TwitterLink />
      <PeingLink />
    </div>
    <div>
      <p>メールでご連絡いただくことも可能です。</p>
      <p>oucc.formal☆gmail.com （☆をアットマークに置き換えてください）</p>
    </div>
  </div>
</Section>
