---
import Icon from '@/components/common/Icon.astro'
import FooterLink from './FooterLink.astro'
---

<footer class="py-8 flex flex-wrap justify-center items-center gap-8">
  <div class="px-4 flex flex-wrap justify-center items-center gap-4">
    <Icon name="oucc" alt="OUCC" class="w-12" />
    <span class="text-sm">© 2023 大阪大学コンピュータクラブ</span>
  </div>
  <div class="px-4 flex flex-wrap justify-center items-center gap-4">
    <FooterLink to="/oucc-rules.pdf">規約</FooterLink>
    <FooterLink to="/privacy">プライバシーポリシー</FooterLink>
  </div>
</footer>
