---
import OuccImage from '@/assets/oucc.svg'
import FooterLink from './FooterLink.astro'
---

<footer class="flex flex-wrap items-center justify-center gap-8 py-8">
  <div class="flex flex-wrap items-center justify-center gap-4 px-4">
    <OuccImage role="img" aria-label="OUCC" class="w-12" />
    <span class="text-sm">© 2023 大阪大学コンピュータクラブ</span>
  </div>
  <div class="flex flex-wrap items-center justify-center gap-4 px-4">
    <FooterLink to="/oucc-rules.pdf">規約</FooterLink>
    <FooterLink to="/privacy/">プライバシーポリシー</FooterLink>
  </div>
</footer>
