---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/common/Hero.astro'
import EventsSection from '@/components/activity/EventsSection.astro'
import DailyActivitySection from '@/components/activity/DailyActivitySection.astro'
---

<Layout
  title="活動紹介"
  description="OUCCの普段の活動は主にオンラインで行われています。対面で開催するイベントを写真とともにご紹介します。"
  showJoinLink
>
  <Hero title="活動紹介" copy="1年間の活動を紹介します" compact />
  <main>
    <DailyActivitySection />
    <EventsSection />
  </main>
</Layout>
