---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import ContactSection from '@/features/contact/components/ContactSection.astro'
---

<Layout title="お問い合わせ" showJoinLink>
  <Hero title="お問い合わせ" copy="ご連絡はこちらから" compact />
  <main>
    <ContactSection />
  </main>
</Layout>
