---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/common/Hero.astro'
import FaqSection from '@/features/faq/components/FaqSection.astro'
---

<Layout
  title="FAQ"
  description="OUCCの活動について、よくある質問とその回答をご紹介します。"
  showJoinLink
>
  <Hero title="FAQ" copy="よくある質問とその回答" compact />
  <main>
    <FaqSection />
  </main>
</Layout>
