---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
---

<Layout title="FAQ" showJoinLink>
  <Hero title="FAQ" copy="よくある質問とその回答" compact />
  <main>
    <h2>FAQ</h2>
    <details>
      <summary>部室はありますか？</summary>
      豊中キャンパス内に部室を設置していますが、機材の保管を主な目的としており、部室で活動を行うことはありません。
      現在はオンライン上での活動を主としています。 以前は部室を学外に
    </details>
    <details>
      <summary>学外に部室があると聞いたのですが？</summary>
      以前は豊中キャンパス付近に部室を設けていましたが、2020年に引き払い
    </details>
    <details>
      <summary>部費はかかりますか？</summary>
      はい。年2000円かかります。部室やサーバーの維持、共用機材の購入のために当てています。
    </details>
  </main>
</Layout>
