---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import JoinSection from '@/features/join/components/JoinSection.astro'
---

<Layout title="Join OUCC!">
  <Hero title="Join OUCC!" copy="OUCCに参加するには" compact />
  <main>
    <JoinSection />
  </main>
</Layout>
