---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/common/Hero.astro'
import JoinSection from '@/components/join/JoinSection.astro'
---

<Layout
  title="Join OUCC!"
  description="大阪大学の学生なら誰でもOUCCに参加できます。参加するとできるようになることや、体験入部の手続きについてご案内します。"
>
  <Hero title="Join OUCC!" copy="OUCCに参加するには" compact />
  <main>
    <JoinSection />
  </main>
</Layout>
