---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/common/Hero.astro'
import PrivacySection from '@/components/privacy/PrivacySection.astro'
---

<Layout
  title="プライバシーポリシー"
  description="当ウェブサイトでのユーザーデータの取り扱いについてご案内します。"
  showJoinLink
>
  <Hero
    title={['プライバシー', 'ポリシー']}
    copy="ユーザーデータの取り扱いについて"
    compact
  />
  <main>
    <PrivacySection />
  </main>
</Layout>
