---
import Section from '@/components/Section.astro'
import Heading1 from '@/components/Heading1.astro'
import Button from '@/components/Button.astro'
---

<Section background="secondary">
  <Heading1>よくある質問</Heading1>
  <div class="w-full px-8 text-justify">
    「部室はあるの？」「活動には必ず参加しないといけないの？」「部費はかかるの？」など、よくある質問はこちらから。
  </div>
  <div class="flex justify-center">
    <Button element="a" href="/faq">FAQページへ</Button>
  </div>
</Section>
