---
import Section from '@/components/Section.astro'
import LinkButton from '@/components/LinkButton.astro'
---

<Section background="secondary">
  <Fragment slot="title">よくある質問</Fragment>
  <div class="flex flex-col gap-5">
    <div class="text-justify">
      「部室はあるの？」「活動には必ず参加しないといけないの？」「部費はかかるの？」など、よくある質問はこちらから。
    </div>
    <div class="flex justify-center">
      <LinkButton href="/faq">FAQページへ</LinkButton>
    </div>
  </div>
</Section>
