---
import Section from '@/components/common/Section.astro'
import DiscordJoinLink from '@/components/common/button/DiscordJoinLink.astro'
import XLink from '@/components/common/button/XLink.astro'
import MarshmallowLink from '../common/button/MarshmallowLink.astro'
---

<Section background="white">
  <div class="flex flex-col gap-5">
    <div>
      <p>
        活動に関するご質問、ご相談等は公開Discordサーバーで受け付けております。
      </p>
    </div>
    <div class="flex justify-center">
      <DiscordJoinLink />
    </div>
    <div>
      <p>
        また、質問箱では匿名で質問を送ることができます。回答はOUCCのXアカウントから発信します。
      </p>
    </div>
    <div class="flex justify-center gap-6">
      <XLink />
      <MarshmallowLink />
    </div>
    <div>
      <p>メールでご連絡いただくことも可能です。</p>
      <p>oucc.formal☆gmail.com （☆をアットマークに置き換えてください）</p>
    </div>
  </div>
</Section>
