---
interface Props {
  inverted?: boolean
}

const { inverted = false } = Astro.props
---

<h2
  class:list={[
    'w-full border-x-[2rem] p-2.5 text-3xl font-bold',
    inverted ? 'border-secondary text-secondary' : 'border-primary text-black',
  ]}
>
  <slot />
</h2>
