---
import Image from './Image.astro'
import logoImage from '@/assets/oucc-logo.webp'
import LinkButton from './LinkButton.astro'

interface Props {
  showJoinLink?: boolean
}

const { showJoinLink = false } = Astro.props
---

<header
  class="sticky top-0 z-10 h-16 px-4 flex justify-between bg-white border-b"
>
  <a href="/">
    <Image
      class="h-full aspect-square"
      src={logoImage}
      alt="OUCC"
      widths={[64]}
      sizes="64px"
    /></a
  >
  <div class="flex flex-col justify-center">
    {showJoinLink && <LinkButton href="/join">Join OUCC!</LinkButton>}
  </div>
</header>
