---
import type { HTMLAttributes } from 'astro/types'

type Props = Omit<HTMLAttributes<'a'>, 'slot'> & {
  variant: 'primary' | 'secondary' | 'discord'
}

const { variant = 'primary', ...attrs } = Astro.props
---

<a
  class:list={[
    'px-5 py-2.5 rounded-full font-bold',
    {
      'bg-primary text-white': variant === 'primary',
      'bg-white text-primary': variant === 'secondary',
      'bg-discord text-white': variant === 'discord',
      'drop-shadow-[0_4px_4px_#00000040] hover:drop-shadow-[0_4px_4px_#00000080]':
        variant === 'primary' || variant === 'discord',
      'drop-shadow-[0_4px_4px_#ffffff40] hover:drop-shadow-[0_4px_4px_#ffffff80]':
        variant === 'secondary',
    },
    'active:drop-shadow-none',
    'active:translate-y-1 transition-[filter,transform] ease-in-out',
    attrs.class,
  ]}
  {...attrs}
>
  <slot />
</a>
