---
import Section from '@/components/Section.astro'
import WorkshopCard from '@/features/workshop/components/WorkshopCard.astro'

export interface Item {
  date: string
  title: string
  description: string
}

export const items: Item[] = [
  {
    date: '4/15（土）18:00~',
    title: 'Python',
    description: 'Pythonの基礎を学びます。',
  },
  {
    date: '4/16（日）14:00~',
    title: 'C',
    description: 'C言語の基礎を学びます。',
  },
  {
    date: '4/22（土）14:00~',
    title: 'Flutter',
    description: 'Flutterを用いたアプリ制作について学びます。',
  },
  {
    date: '4/23（日）14:00~',
    title: 'Blender',
    description: 'Blenderを用いた3Dモデリングについて学びます。',
  },
  {
    date: '4/25（火）19:00~',
    title: 'C++',
    description:
      'C++の基礎を学びます。4/16（日）のC言語講習会を受講された方、またはC言語を学んだことがある方を対象としています。',
  },
  {
    date: '5/4（木）14:00~',
    title: '競プロ',
    description: '競技プログラミングについて学びます。',
  },
  {
    date: '5/6（土）14:00~',
    title: 'C#',
    description: 'C#の基礎を学びます。',
  },
  {
    date: '5/7（日）14:00~',
    title: 'Unity',
    description: 'Unityを用いたゲーム制作を学びます',
  },
  {
    date: '5/11（木）19:00~',
    title: 'Linux',
    description:
      'サーバや組み込み用途で広く利用されているOSであるLinuxについて学びます。',
  },
  {
    date: '5/13（土）14:00~',
    title: 'AI（1日目）',
    description: '機械学習について学びます。',
  },
  {
    date: '5/14（日）14:00~',
    title: 'AI（2日目）',
    description:
      '機械学習について学びます。前日のAI講習会を受講された方を対象としています。',
  },
  {
    date: '5/18（木）19:00~',
    title: 'Web制作',
    description:
      'HTML/CSS/JavaScriptを用いたWebサービスの制作について学びます。',
  },
  {
    date: '5/20（土）14:00~',
    title: 'Git',
    description:
      'ソースコードの編集履歴管理システムであるGitの基礎を学びます。共同開発に役立ちます。',
  },
  {
    date: '5/21（日）14:00~',
    title: 'React',
    description:
      'Reactを用いた応用的なWebサービス制作について学びます。5/18（木）のWeb制作講習会を受講された方、またはHTML/CSS/JavaScriptの使用経験がある方を対象としています。',
  },
]
---

<Section background="secondary">
  <Fragment slot="title">2023年度の講習会</Fragment>
  <div class="flex flex-col gap-5">
    <p>
      2023年度の講習会はオンラインで実施します。参加方法について詳しくは、画面右上の「Join
      OUCC!」ボタンから公開Discordサーバーにご参加のうえご確認ください。
    </p>
    <p>各回1～3時間程度の予定となっています。途中退室も可能です。</p>
    <ul class="flex flex-wrap gap-5">
      {items.map((item) => <WorkshopCard {...item} />)}
    </ul>
  </div>
</Section>
