---
import Section from '@/components/Section.astro'
---

<Section background="white">
  <div class="flex flex-col gap-5">
    <p>
      新歓イベントの一環として部員や外部講師による講習会を開催しています。様々な技術について未経験者向けに解説しながら実際に使えるようになることを目指します。講習会内で必要なソフトウェアのインストールから説明しますので、事前準備は必要ありません。
    </p>
  </div>
</Section>
