---
interface Props {
  title: string
  background: 'white' | 'primary' | 'secondary'
}

const { title, background } = Astro.props
---

<h1
  class:list={[
    'bg-dot flex items-center justify-center gap-x-5 py-6 text-6xl',
    {
      'bg-dot-white': background === 'white',
      'bg-dot-primary': background === 'primary',
      'bg-dot-secondary': background === 'secondary',
    },
  ]}
>
  {
    Astro.slots.has('icon') && (
      <div class="flex aspect-square h-[95px] items-center justify-center rounded-full border bg-white bg-none">
        <slot name="icon" />
      </div>
    )
  }
  {title}
</h1>
