---
interface Props {
  current: Item['path']
}

interface Item {
  path: '/blog/' | '/blog/tags/'
  text: string
}

const items: Item[] = [
  {
    path: '/blog/',
    text: 'ブログ一覧',
  },
  {
    path: '/blog/tags/',
    text: 'タグ一覧',
  },
]

const { current } = Astro.props
---

<div class="flex justify-center bg-white">
  <ul class="flex gap-4 px-8 pt-3">
    {
      items.map((item) => (
        <li
          class:list={[
            {
              'after:block after:h-1 after:rounded-t after:bg-primary':
                item.path === current,
            },
          ]}
        >
          <a
            class:list={[
              'whitespace-nowrap px-2 text-2xl',
              {
                'text-black': item.path === current,
                'pb-1 text-gray-600 hover:text-black': item.path !== current,
              },
            ]}
            href={item.path}
          >
            <h1 class="inline-block">{item.text}</h1>
          </a>
        </li>
      ))
    }
  </ul>
</div>
