---
import HeroSlideshow from './HeroSlideshow.astro'

interface Props {
  /** 改行する可能性がある場合は配列 */
  title: string | [string, ...string[]]
  copy: string
  compact?: boolean
}

const { title, copy, compact = false } = Astro.props
---

<section class:list={[{ 'h-64': !compact }, 'relative']}>
  <div class="absolute inset-0 h-full w-full bg-slate-600">
    <HeroSlideshow />
  </div>
  <div class="absolute inset-0 h-full w-full bg-[#00000099]"></div>
  <div class="isolate flex h-full justify-center p-5">
    <div
      class="flex w-full max-w-container flex-col justify-end gap-2 text-white"
    >
      <h1
        class="break-words break-keep text-5xl font-extrabold drop-shadow-[4px_4px_0_#1a2872] md:text-6xl"
      >
        <span
          >{
            typeof title === 'string'
              ? title
              : title.reduce((prev, cur, index) => {
                  if (index === 0) return cur
                  else
                    // 改行の発生を抑制
                    // prettier-ignore
                    return <>{prev}<wbr />{cur}</>
                })
          }</span
        >
      </h1>
      <span>{copy}</span>
    </div>
  </div>
</section>
