---
import Heading1 from './Heading1.astro'

interface Props {
  background: 'white' | 'primary' | 'secondary'
}

const { background } = Astro.props
---

<section
  class:list={[
    'bg-dot flex justify-center py-8',
    {
      'bg-dot-white': background === 'white',
      'bg-dot-primary': background === 'primary',
      'bg-dot-secondary': background === 'secondary',
    },
  ]}
>
  <div class="flex w-full max-w-padded-container flex-col gap-5">
    {
      Astro.slots.has('title') && (
        <Heading1 variant={background === 'primary' ? 'secondary' : 'primary'}>
          <slot name="title" />
        </Heading1>
      )
    }
    <div class="px-8">
      <slot />
    </div>
  </div>
</section>
