---
import Heading1 from './Heading1.astro'

interface Props {
  background: 'white' | 'primary' | 'secondary'
}

const { background } = Astro.props
---

<section
  class:list={[
    'py-8 flex justify-center bg-dot',
    {
      'bg-dot-white': background === 'white',
      'bg-dot-primary': background === 'primary',
      'bg-dot-secondary': background === 'secondary',
    },
  ]}
>
  <div class="w-full max-w-padded-container flex flex-col gap-5">
    {
      Astro.slots.has('title') && (
        <Heading1 variant={background === 'primary' ? 'secondary' : 'primary'}>
          <slot name="title" />
        </Heading1>
      )
    }
    <div class="px-8">
      <slot />
    </div>
  </div>
</section>
