---
import { unreachable } from '@/utils/unreachable'
import Heading1 from './Heading1.astro'

interface Props {
  background: 'white' | 'primary' | 'secondary'
}

const { background } = Astro.props
---

<section
  class:list={[
    'py-8 flex justify-center',
    {
      'bg-white': background === 'white',
      'bg-primary': background === 'primary',
      'bg-secondary': background === 'secondary',
    },
  ]}
  style={{
    '--bg-dot-color':
      background === 'white'
        ? '#00000010'
        : background === 'primary'
        ? '#ffffff10'
        : background === 'secondary'
        ? '#00000010'
        : unreachable(background),
    '--bg-dot-pattern': '10px',
    '--bg-dot-size': '15%',
    'background-image':
      'radial-gradient(var(--bg-dot-color) var(--bg-dot-size), transparent var(--bg-dot-size)), radial-gradient(var(--bg-dot-color) var(--bg-dot-size), transparent var(--bg-dot-size))',
    'background-size': 'var(--bg-dot-pattern) var(--bg-dot-pattern)',
    'background-position':
      '0 0, calc(var(--bg-dot-pattern) / 2) calc(var(--bg-dot-pattern) / 2)',
  }}
>
  <div class="w-full max-w-padded-container flex flex-col gap-5">
    {
      Astro.slots.has('title') && (
        <Heading1 variant={background === 'primary' ? 'secondary' : 'primary'}>
          <slot name="title" />
        </Heading1>
      )
    }
    <div class="px-8">
      <slot />
    </div>
  </div>
</section>
