---
import BlogLayout from '@/layouts/BlogLayout.astro'
import { getCollection } from 'astro:content'
import { getTagStatistics } from '@/content/_blog-statistics'
import TagListSection from '@/components/blog/tag/TagListSection.astro'

const tagEntries = await getCollection('tags')
const statistics = await getTagStatistics()
const tags = tagEntries
  .filter(
    (tag) =>
      ![
        // ignore tags
        'dgv',
        'astro',
      ].includes(tag.id),
  )
  .map((tag) => ({
    ...tag,
    articleCount: statistics[tag.id].length,
    lastPostedTime: statistics[tag.id][0]?.time ?? 0,
  }))
tags.sort((tag1, tag2) =>
  tag2.articleCount !== tag1.articleCount
    ? tag2.articleCount - tag1.articleCount
    : tag2.lastPostedTime - tag1.lastPostedTime,
)
---

<BlogLayout title="タグ一覧" description="ブログのタグ一覧です。">
  <main class="flex h-full flex-col">
    <TagListSection title="タグ一覧" tags={tags} />
  </main>
</BlogLayout>
