---
import type { ImageMetadata } from 'astro'
import Section from '@/components/common/Section.astro'
import Icon from '@/components/common/Icon.astro'
import Image from '@/components/common/Image.astro'
import ouccImage from '@/assets/oucc.svg'
import AboutCard from './AboutCard.astro'

interface Item {
  icon: string | ImageMetadata
  description: string[]
}

const items: Item[] = [
  {
    icon: ouccImage,
    description: [
      'OUCC（大阪大学コンピュータクラブ）は、コンピュータを使ったものづくりに関心を持つ学生が交流するサークルです。',
      'プログラミングやお絵描き、3Dモデリングなどの活動を行っています。',
    ],
  },
  {
    icon: 'team',
    description: [
      'プログラミングを始めたばかりの人からすでに高度なスキルを持っている人まで、OUCCには多様なメンバーが集まっています。',
      '年齢や文系理系を問わずどなたでも大歓迎です。',
    ],
  },
  {
    icon: 'member',
    description: [
      '40年以上の歴史を有しており、大阪大学の公認も受けています。',
      '大学院生や社会人となっているOBOGとの交流も盛んで、幅広い世代が集う活気あふれる環境です。',
    ],
  },
]
---

<Section background="white">
  <Fragment slot="title">
    <span class="inline-block">OUCCって</span>
    <span class="inline-block">どんなサークル？</span>
  </Fragment>
  <ul class="flex flex-col items-center gap-5 md:flex-row md:items-stretch">
    {
      items.map(({ icon, description }) => (
        <li class="flex max-w-[32rem] flex-1 items-stretch">
          <AboutCard>
            <Fragment slot="icon">
              {typeof icon === 'string' ? (
                <Icon name={icon} alt="" class="h-20 w-20 align-top" />
              ) : (
                <Image src={icon} alt="" class="h-20 w-20 object-contain" />
              )}
            </Fragment>
            {description.map((x) => (
              <p>{x}</p>
            ))}
          </AboutCard>
        </li>
      ))
    }
  </ul>
</Section>
