---
import Section from '@/components/Section.astro'
import Image from '@/components/Image.astro'
import MemberIcon from '@/components/icon/MemberIcon.astro'
import TeamIcon from '@/components/icon/TeamIcon.astro'
import AboutCard from './AboutCard.astro'
import logoImage from '@/assets/oucc-logo.webp'
---

<Section background="white">
  <Fragment slot="title">
    <span class="inline-block">OUCCって</span>
    <span class="inline-block">どんなサークル？</span>
  </Fragment>
  <ul class="flex flex-col gap-5">
    <li>
      <AboutCard>
        <Image
          slot="icon"
          class="h-20"
          src={logoImage}
          alt="OUCC"
          widths={[80]}
          sizes="80px"
        />
        OUCC（大阪大学コンピュータクラブ）は、コンピュータを使ったものづくりに関心を持つ学生が交流するサークルです。
        プログラミングやお絵描き、3Dモデリングなどの活動を行っています。
      </AboutCard>
    </li>
    <li>
      <AboutCard>
        <div slot="icon" class="w-20">
          <TeamIcon />
        </div>
        プログラミング未経験者から経験豊富なエンジニアまで、幅広いレベルのメンバーが集まっています。
        年齢、性別、文理を問わずどなたでも大歓迎です。
      </AboutCard>
    </li>
    <li>
      <AboutCard>
        <div slot="icon" class="w-20">
          <MemberIcon />
        </div>
        40年以上の歴史を有しており、大阪大学の公認も受けています。大学院生や社会人となっているOBOGとの交流も盛んです。
      </AboutCard>
    </li>
  </ul>
</Section>
