<div
  class="w-full mt-12 p-5 pt-0 rounded-xl border border-slate-300 bg-white drop-shadow-contrast flex flex-col gap-5"
>
  <div class="flex justify-center">
    <div
      class="-translate-y-12 -mb-12 p-4 rounded-full border border-slate-300 bg-white drop-shadow-contrast"
    >
      <slot name="icon" />
    </div>
  </div>
  <div class="text-justify">
    <slot />
  </div>
</div>
