---
interface Props {
  to: string
  targetBlank?: boolean
}

const { to, targetBlank } = Astro.props
---

<li class="border-t last:border-b">
  <a
    href={to}
    target={targetBlank ? '_blank' : undefined}
    class:list={[
      'block p-4 bg-white font-bold',
      'hover:bg-secondary transition-[background-color] ease-in-out duration-300',
    ]}
  >
    <slot />
  </a>
</li>
