---
import type { ImageMetadata } from 'astro'
import Section from '@/components/common/Section.astro'
import LinkButton from '@/components/common/button/LinkButton.astro'
import ActivityCard from '@/components/activity/ActivityCard.astro'
import welcomeImage from '@/assets/welcome_lessons.webp'
import exhibition1Image from '@/assets/exhibition1.webp'
import springDevImage from '@/assets/spring_dev.webp'

interface Item {
  title: string
  image: ImageMetadata
  description: string
  link?: { href: string; targetBlank?: boolean; text: string }
}

const items: Item[] = [
  {
    title: '4月 講習会',
    image: welcomeImage,
    description:
      'プログラミングの基礎、機械学習、Web開発など様々なテーマで、数カ月間にわたり講習会が開催されます。新歓イベントの一環として開催しており、どなたでも参加できます。',
    link: { href: '/workshop/', text: '講習会について詳しく' },
  },
  {
    title: '5月 いちょう祭',
    image: exhibition1Image,
    description:
      '大阪大学の文化祭であるいちょう祭に出展し、OUCCで制作したゲーム、対話AI、VR体験などの展示を行います。',
  },
  {
    title: '3月 春休み共同開発',
    image: springDevImage,
    description:
      '複数のチームに分かれて共同開発を行います。各自でテーマを投稿し、興味を持った人で集まってチームを構成します。最終日には全チームで成果発表を行います。',
  },
]
---

<Section background="secondary">
  <Fragment slot="title">活動紹介</Fragment>
  <div class="flex flex-col gap-5">
    <ul class="flex flex-col items-center gap-8">
      {
        items.map(({ title, image, description, link }) => (
          <li class="max-w-[32rem]">
            <ActivityCard title={title} image={image} link={link}>
              {description}
            </ActivityCard>
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <LinkButton href="/activity/">活動紹介について詳しく</LinkButton>
    </div>
  </div>
</Section>
