---
import Icon from '@/components/common/Icon.astro'
import { BlogCategoryMapping } from '@/content/config'

const current = Astro.url.pathname

const navList = [
  {
    target: '/blog/',
    title: '記事一覧',
    isHere: [
      '/blog/',
      ...Object.keys(BlogCategoryMapping).map(
        (category) => `/blog/category=${category}/`,
      ),
    ].includes(current),
  },
  {
    target: '/blog/tags/',
    title: 'タグ一覧',
    isHere: '/blog/tags/' === current,
  },
] as const satisfies { target: string; title: string; isHere: boolean }[]
---

<div class="flex justify-between px-9 font-sans text-lg font-medium">
  <div class="flex flex-nowrap gap-3">
    {
      navList.map(({ target, title, isHere }) => (
        <a
          href={target}
          class:list={[
            'whitespace-nowrap',
            {
              'text-black after:block after:h-1 after:rounded-t-lg after:bg-primary':
                isHere,
              'text-gray-700 hover:text-black': !isHere,
            },
          ]}
        >
          <span
            class:list={[
              'inline-block pb-1 pt-2',
              {
                'pb-1': isHere,
                'pb-2': !isHere,
              },
            ]}
          >
            {title}
          </span>
        </a>
      ))
    }
  </div>
  <a class="block h-7 self-center" href="/blog/search/">
    <Icon name="search" alt="検索" class="h-full text-gray-600" />
  </a>
</div>
