---
const current = Astro.url.pathname

const navList: { target: string; title: string }[] = [
  {
    target: '/blog',
    title: '記事一覧',
  },
  {
    target: '/blog/tags',
    title: 'タグ一覧',
  },
]
---

<div class="flex flex-nowrap gap-3 px-9 pt-1 text-lg">
  {
    navList.map(({ target, title }) => (
      <a
        href={target}
        class:list={[
          'whitespace-nowrap text-gray-700 hover:text-black',
          {
            'after:block after:h-1 after:rounded-t-lg after:bg-primary':
              current === target || current === target + '/',
            'pb-1': current !== target && current !== target + '/',
          },
        ]}
      >
        {title}
      </a>
    ))
  }
</div>
