---
import OuccImage from '@/assets/oucc.svg'
import NavigationListItem from './NavigationListItem.astro'
import DrWani from './DrWani.astro'
---

<nav class="flex h-full w-full flex-col bg-white">
  <div class="flex justify-center py-2">
    <OuccImage role="img" aria-label="OUCC" class="h-20 w-20 object-contain" />
  </div>
  <ul class="flex flex-col text-center">
    <NavigationListItem to="/">トップページ</NavigationListItem>
    <NavigationListItem to="/join/">Join OUCC!</NavigationListItem>
    <NavigationListItem to="/activity/">活動紹介</NavigationListItem>
    <NavigationListItem to="/workshop/">講習会</NavigationListItem>
    <NavigationListItem to="/faq/">FAQ</NavigationListItem>
    <NavigationListItem to="/contact/">お問い合わせ</NavigationListItem>
    <NavigationListItem to="/blog/">ブログ</NavigationListItem>
    <NavigationListItem to="https://twitter.com/OUCC" targetBlank>
      X (旧Twitter)
    </NavigationListItem>
  </ul>
  <div class="relative grow [container-type:size]">
    <div
      class:list={[
        'absolute flex h-full w-full items-end justify-center overflow-hidden',
        // <DrWani>の高さが145pxなので、コンテナの高さが145px未満の場合は表示しない
        'invisible [@container(min-height:145px)]:visible',
        'opacity-0 transition-[visibility,opacity] [@container(min-height:145px)]:opacity-100',
      ]}
    >
      <DrWani />
    </div>
  </div>
</nav>
