---
interface Props {
  to: string
  targetBlank?: boolean
}

const { to, targetBlank } = Astro.props
---

<li class="border-t last:border-b">
  <a
    href={to}
    target={targetBlank ? '_blank' : undefined}
    class:list={[
      'block bg-white p-4 font-bold',
      'transition-[background-color] duration-300 ease-in-out hover:bg-secondary',
    ]}
  >
    <slot />
  </a>
</li>
